<!-- -->

<launch>
  <node type="ego_vehicle.py" name="ego_vehicle" pkg="path_follower" />
  <node type="stanley_follower_Ateam.py" name="stanley_follower" pkg="path_follower"/>
  <param name="robot_description" textfile="$(find xycar_slam)/urdf/xycar.urdf" />  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="        
      -configuration_directory $(find xycar_slam)/config        
      -configuration_basename localization_xytron_without_imu.lua
      -load_state_filename $(find xycar_slam)/maps/comp1_youngjin_last_without_imu.pbstream" /> 

  <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find xycar_slam)/rviz/localization.rviz" />
</launch>

